@import "tailwindcss";

:root {
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Segoe UI', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
